* {
    box-sizing: border-box;
    font-family: monospace;
}

html {
    font-size: 1em;
}

body {
    font-size: 1rem;
}

$menu_width: 10rem;
$menu_left: 0.1rem;
$main_margin: 11rem;

$screen_narrow_width: 560px;
.menu {
    width: $menu_width;
    position: fixed;
    z-index: 1;
    top: 0;
    left: $menu_left;
    background: #EEE;
    overflow-x: hidden;
    padding: 2px 0;

    @media (max-width: $screen_narrow_width) {
        position: static;
        width: 100%;
    }
}

.menu a {
    padding: 0.3rem;
    text-decoration: none;
    font-size: 1rem;
    color: blue;
    display: block;

    @media (max-width: $screen_narrow_width) {
        text-align: center;
    }
}

.menu a:hover {
    color: black;
}

#main {
    margin-left: $main_margin;

    @media (max-width: $screen_narrow_width) {
        margin-left: 1rem;
    }
}

th {
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

td {
    border-top: 0.1rem gray dashed;
    min-width: 2rem;
}

pre {
    /* Ensure that words wrap appropriately */
    word-wrap: break-word;
    white-space: pre-wrap;
}

.search_highlight {
    background-color: rgba(255,255,0,0.2);
    text-decoration: underline;
}